.scroll-button-container {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  z-index: 10001;
}

.scroll-button {
  background: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
  z-index: 10001;
}

.scroll-button:hover {
  transform: translateY(2px);
  filter: brightness(1.1);
}