.cat-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color:var(--background-color);
  padding: 20px;
  min-height: 100vh;
}

.game-info {
    display: flex;
    gap: 20px;
    flex-direction: row;
   align-items: flex-start;
}

.card img {
  height: 200px;
  width:120px;
  object-fit: cover;
}


.cat-game-container h1 {
  margin-top: 7svh;
  margin-bottom: 10px;
  font-size: 30px;
  color: var(--accent-color);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(6, 120px);
  gap: 20px;
  margin-bottom: 50px;
}

.cat-game-container .score,
.cat-game-container .attempts {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;;
}

.cat-game-container .score {
  color: var(--text-color);
}

.cat-game-container .attempts {
  color: #f13259;
}

.card {
    width: 120px;
    height: 200px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.1s;
    box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.75);
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://render.fineartamerica.com/images/rendered/default/greeting-card/images/artworkimages/medium/2/poker-cats-bill-bell.jpg?&targetx=-27&targety=0&imagewidth=555&imageheight=700&modelwidth=500&modelheight=700&backgroundcolor=A6A6A1&orientation=1');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  border-radius: 10px;
  transform: rotateY(180deg);
  transition: opacity 0.3s;
  transform-style: preserve-3d;
}

.card.flipped::before {
  opacity: 0;
  transition: 0.5s;
  backface-visibility: hidden;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card.flipped::after {
  position: absolute;
  top: 50%;
  object-fit: cover;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
  z-index: 2;
}

.card.matched {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.popup h2 {
  color: var(--accent-color);
  margin-top: 25px;
}

.match-cats-fullscreen-btn{
      visibility: hidden;
}

.popup-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.popup-decline,
.popup-confirm {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.popup-decline {
  background: var(--input-color);
  border: 1px solid var(--button-border-color);
  color: var(--text-color);
}

.popup-confirm {
  background: var(--accent-color);
  color: white;
}

.popup button {
    color: var(--text-color);
    border: 1px solid var(--accent-color);
    padding: 10px 20px;
    display: flex;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 70px;
    transition: background-color 0.3s ease;
    background: var(--input-color);
    align-items: center;
    justify-content: center;
}

.popup button:hover {
  background-color: var(--accent-color);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 9999;
}

.overlay.active {
  display: flex;
  pointer-events: auto;
}

.popup {
  background: var(--background-color);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  border: 1px solid var(--button-border-color);
  max-width: 400px;
  width: 90%;
  font-size: 1.4rem;
  color: var(--text-color);
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  animation: popupFade 0.3s ease-out;
}

@keyframes popupFade {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}


@media (max-width: 880px) {
  .card-grid {
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
  }

  .card{
    width: 110px;
    height: 180px;
  }

  .card img{
    width: 110px;
    height: 180px;
  }
}

@media (max-width: 800px) {

  .card{
    width: 100px;
    height: 180px;
  }

  .card img{
    width: 100px;
    height: 180px;
  }
}

@media (max-width: 735px) {
  .card-grid {
    gap: 10px;
  }

  .card {
    width: 100px;
    height: 175px;
  }

  .card img{
    width: 100px;
    height: 175px;
  }
}

@media (max-width: 700px){
 .game-info{
  margin-bottom: 10px;
 }

  .card {
    width: 100px;
    height: 165px;
  }

  .card img{
    width: 100px;
    height: 165px;
  }
}

@media (max-width: 665px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .card {
     width: 120px;
     height: 155px;
  }

  .card img{
    width: 120px;
    height: 155px;
  }
}

@media (max-width: 585px) {

  .card {
    width: 100px;
        height: 150px;
  }

  .card img{
    width: 100px;
    height: 150px;
  }
}

@media (max-width: 495px) {
  
  .card {
    width: 90px;
        height: 140px;
  }

  .card img{
    width: 90px;
    height: 140px;
  }
}

@media (max-width: 440px) {

  .card {
    width: 75px;
        height: 125px;
  }

  .card img{
    width: 75px;
    height: 125px;
  }
}

@media (max-height: 520px) {
.cat-game-container .score, .cat-game-container .attempts{
  font-size: 16px;
}
.card {
    width: 80px;
    height: 115px;
  }

  .cat-game-container h1 {
    margin-bottom: 0;
  }

  .cat-game-fullscreen-wrapper {
    position: absolute;
    top: 20%;
    left: 1px;
    height: 50px;
    width: 80px;
}

  .cat-game-container .idea-bulb-btn-filter {
    position: absolute;
    top: 5px;
    left: 45px;
  }

  .game-info{
    margin-bottom: 5px;
  }
  
  .card-grid {
        grid-template-columns: repeat(6, 1fr);
    }

    .match-cats-fullscreen-btn{
      visibility: visible;
      top: 20%;
    background: var(--input-color);
    border: 1px solid var(--accent-color);
    left: 12px;
    display: flex;
    color: var(--text-color);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    position: absolute;
    align-items: center;
    justify-content: center;
}
    }
