.login-container {
  max-width: 300px;
  height: 400px;
  margin: 50px auto;
  padding: 20px;
  margin-top: 15svh;
  background: var(--alt-card-color);
  border: 1px solid var(--button-border-color);
  border-radius: 12px;
}

.login-container h1 {
  text-align: center;
  background: none;
  font-size: 36px;
  color: var(--accent-color);
}

h1 {
  margin-bottom: 0px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background: none;
  min-width: 150px;
}
.form-input {
    background: var(--input-color);
    color: var(--text-color);
    width: 200px;
    padding: 6px 8px;
    height:36px;
    margin: 10px 5px 0;
    border-radius: 8px;
    border: 1px solid var(--button-border-color);
    font-size: 14px;
}

.form-input:hover{
border: 1px solid var(--accent-color);
}

.login-button {
  margin: 30px 0px;
  width: 140px;
  background: none;
}

.login-button:active {
  background: transparent !important;
} 

h3 {
  text-align: center;
  font-size: 16px;
}
.login-register-link {
  font-weight: bold;
  color: var(--accent-color);
  cursor: pointer;
  background: none;
}
@media screen and (max-width: 941px) and (orientation: landscape) {
  .loginForm {
    padding-top: 20px;
  }
  h1 {
    margin-top: 10px;
  }
}
