.dog-loader-overlay {
  position: fixed;
  background: var(--background-color);
  opacity: 92%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.dog-loader-icon {
  width: 150px;
  background: none;
  height: 150px;
  animation: pulse 1s ease-in-out infinite;
  filter: invert(100%);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}
