
.admin-title {
     text-align: center;
    color: var(--accent-color);
    margin-top: 7svh;
    margin-bottom: 15px;
}

.page-layout-header {
display: flex;
    flex-direction: column;
    align-items: center;
}

.page-top-content{
    display: flex;
    justify-content: center;
}


.controls-section{
display: flex;
    flex-direction: column;
    align-items: center;
}
