.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.filter select,
.filter input {
  background: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--button-border-color);
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  cursor: pointer;
  padding-left: 5px;
  width: 150px;
  height: 38px;
}

.filter select:hover,
.filter input:hover {
  border-color: var(--button-hover-border-color);
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}

.filter input::placeholder {
  color: var(--placeholder-color);
}

.clear-filters-button {
  width: 120px;
  height: 38px;
  border: none;
}

@media (max-width: 650px){

  .filter{
  margin-top: 15px;
}

  .filter select,
  .filter input,
  .filter button {
    width: 100px;
    height: 35px;
    font-size: 12px;
    padding-left: 5px;
  }
}

@media (max-width: 540px){
  .filters {
    scale:0.8;
  }
}

@media (max-height: 520px) {

.filter{
  margin-top: 15px;
}
}