.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.price-filter, .rating-filter,
.max-price-filter, .size-filter {
  background: var(--input-color);
  color: var(--text-color);
  border: 1px solid var(--button-border-color);
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  cursor: pointer;
  padding-left: 5px;
  width: 150px;
  height: 38px;
}

.price-filter:hover, .rating-filter:hover,
.max-price-filter:hover, .size-filter:hover {
  border-color: var(--button-hover-border-color);
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}

.clear-filter-wrapper{
  position: relative;
}

.filter input::placeholder {
  color: var(--placeholder-color);
}

.clear-filters-button {
  width: 100px;
  height: 38px;
  color: var(--text-color);
  background: var(--accent-color);
  border-radius: 8px;
  border: none;
}

.filter-tip{
 top: -5px;
    right: -23px;
}


@media (max-width: 671px){
  .price-filter, .rating-filter,
.max-price-filter, .size-filter {
    width: 100px;
    font-size: 12px;
  }
  
  .filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
  }
}

@media (max-height: 520px) {

.filter {
  margin-bottom: 10px;
}

}
