.shop-product-card{
    background: var(--background-color);
}

.product-link{
    background-color: #ffffff;
    border-radius: 12px;
}
.shop-product-card h2 {
        font-size: 17px;
        font-weight: 400;
        padding: 0px 5px;
        margin-top: 15px;
    text-align: center;
    color: var(--accent-color);
}



.shop-product-card-img {  
    width: 316px;
    margin-top: 10px;
    object-fit: contain;
    border-radius: 12px;
    height: 250px;
    background: #ffffff;
}

.shop-product-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.price,
.rating {
  font-size: 16px;
  color: var(--text-color);
}

.shop-product-card:hover {
  transform: scale(1.02);
}

.fill-heart,
.line-heart {
  font-size: 30px;
}
.heart-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
  color: dimgrey;
}

.heart-btn:hover {
  color: red;
}

.heart-btn.active {
  color: red;
}

.heart-btn#heart:before {
  left: 50px;
  transform: rotate(-45deg);
}

.heart-btn#heart:after {
  left: 0;
  transform: rotate(45deg);
}

.heart-btn.active#heart:before,
.heart-btn.active#heart:after {
  background: red !important;
}

.site-button-primary{
    border: 2px solid var(--accent-color);
}

.site-button-primary:hover{
    background: var(--accent-color);
}

@media (max-width: 750px){
.shop-product-card {
    width: 80%;
    height: 280px;
    flex-direction: row;
    align-items: flex-start;
  }

  .shop-product-card h2 {
    margin-left: 10px;
  }

  .shop-product-card-img {
    width: 240px;
    object-fit: contain;
    border-radius: 12px;
    height: 263px;
    background: #ffffff;
}

  .shop-product-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .shop-product-info h2,
  .shop-product-info p {
    text-align: center;
  }
}

@media (max-width: 670px){
    .shop-product-card{
        height: 260px;
    }
    .shop-product-card-img{
        width:210px;
        height: 243px;
    }
}

@media (max-width: 590px)
{
       .shop-product-card {
        width: 320px;
        height: 500px;
        display: flex;
        padding:0px;
        flex-direction: column;
        align-items: center;
    }

  .shop-product-card-img {
    width: 318px;
    height: 250px;
    object-fit: contain;
    border-radius: 10px;
  }

  .shop-product-info {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .shop-product-info h2,
  .shop-product-info p {
    text-align: center;
  }
}



@media (max-height: 520px) {
  .shop-product-card {
    width: 80%;
    height: 260px;
    flex-direction: row;
    align-items: flex-start;
  }

  .shop-product-card-img {
    width: 250px;
    height: 244px;
    object-fit: contain;
    border-radius: 10px;
  }

  .shop-product-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .shop-product-info h2,
  .shop-product-info p {
    text-align: center;
  }
}
