@media (max-height:520px){

.modal-buttons {
    display: flex;
    position: absolute;
    right:70px;
    bottom: 55px;
        width: 200px;
    justify-content: center;
    gap: 15px;

}

.edit-form {
    height: 82svh;
    border: 2px solid var(--button-border-color);
    width: 600px;
    border-radius: 12px;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
}


.preview-image img {
    width: 210px;
    height: 210px;
    margin-left: 70px;
    margin-right: 30px;
    margin-top: 25px;
    margin-bottom: 15px;
    background: #fff;
    object-fit: contain;
    border: 1px solid var(--button-border-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    text-align: center;
    color: var(--accent-color);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}

.edit-form input

 {
    width: 240px;
    margin-bottom: 10px;
    color: var(--text-color);
    font-size: 0.9rem;
    padding: 8px 10px;
    background: var(--background-color);
    cursor: text;
    border: 1px solid var(--button-border-color);
    border-radius: 6px;
}

.dog-edit-form input[type='text'], .edit-form input[type='number'], .edit-form input[type='file'], .edit-form input[type='url'] {
    padding: 8px 10px;
    border: 1px solid var(--button-border-color);
    background: var(--background-color);
    color: var(--text-color);
    border-radius: 6px;
}



.drop-zone {
    display: flex;
    border: 1px dashed var(--button-border-color);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: var(--button-text-color);
    cursor: pointer;
    margin-bottom: 20px;
    transition: border-color 0.2s;
    align-items: center;
}
}