.drop-zone-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--button-border-color);
  border-radius: 8px;
  background-color: var(--input-color);
  transition: all 0.2s ease-in-out;
  text-align: center;
  color: var(--text-color);
  padding: 6px;
  box-sizing: border-box;
}
.drop-zone-container:hover{
    border-color: var(--accent-color);
}

.drop-zone-container.dragging {
  border-color: var(--accent-color);
  background-color: var(--background-color);
  transform: scale(1.01);
}

.drop-zone-container.has-error {
  border-color: #ff4d4d;
  background-color: var(--background-color);
}

.drop-zone-container.has-error .drop-zone-text {
  color: #ff4d4d;
  font-weight: bold;
}

.drop-zone-text {
  margin: 0;
  color: var(--text-color);
}

.browse-link {
  color: var(--accent-color);
  font-weight: bold;
  cursor: pointer;
}