.dog-search-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 35px;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding: 0px 60px;
}
   .search-dog-card{
     width: 320px;
    border-radius: 12px;
    height: 350px;
    cursor: pointer;
    border: 1px solid var(--button-border-color);
}


.dog-search-img {
    width: 100%;
    height: 210px; 
    border-radius: 10px;
    margin-bottom: 21px;
}

.dog-search-h1 {
    margin-top: 6svh;
    margin-bottom: 25px;
  text-align: center;
  font-size: 30px;
  color: var(--accent-color);
}

h3 {
  color: var(--text-color);
}

.dog-search-container {
  padding: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.filter-select-dog-search {
  width: 140px;
  height: 38px;
  border-radius: 5px;
  cursor: pointer;
  background: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--button-border-color);
}

.clear-filters-btn {
      background: var(--accent-color);
    border: 1px solid var(--button-border-color);
    border-radius: 6px;
    color: var(--text-color);
    cursor: pointer;
    padding: var(--button-padding);
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}



.popup-text p {
  color: var(--text-color);
}

.dog-search-layout {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.dog-search-main {
    display: flex;
    width:350px;
    flex: 1;
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
}

.az-img {
  filter: invert(0.5);
    width: 30px;
    background: none;
}
.alphabet-container {
  position: fixed;
  right: 10px;
  top: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alphabet-toggle-btn {
  width: 28px;
  height: 36px;
  margin-bottom: 6px;
  border: 1px solid var(--accent-color);
  border-radius: 6px;
  background: transparent;
  color: var(--text-color);
  font-weight: 200;
  cursor: pointer;
  transition: background 0.2s;
}

.alphabet-toggle-btn:hover {
  transform:scale3(1.1)
}

.alphabet-letters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  opacity: 0;
  max-height: 0;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.alphabet-letters::-webkit-scrollbar {
  display: none;
}

.alphabet-letters.open {
    position: absolute;
    top: 40px;
    right: 1px;
    opacity: 1;
    max-height: 140px;
}

.alphabet-btn {
  width: 24px;
  height: 24px;
  margin: 2px 0;
  border: 1px solid var(--button-border-color);
  border-radius: 6px;
  background: transparent;
  color: var(--text-color);
  cursor: pointer;
  font-weight: 200;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s, color 0.2s;
}

.alphabet-btn:hover {
  border-color: var(--accent-color);
}

.alphabet-btn.active {
  background: var(--accent-color);
}



.load-more-btn {
  margin: 30px auto 80px;
  display: block;
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 300;
  color: var(--text-color);
  background: transparent;
  border: 1px solid var(--accent-color) ;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease, opacity 0.2s ease;
}

.load-more-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.load-more-btn:active {
  transform: translateY(0);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.load-more-btn:focus {
  outline: none;
}


@keyframes popupFadeIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 952px){
  .dog-search-h1{
    margin-top: 12svh;
  }
}

@media (max-width: 800px) {
  .search-dog-card {
    width:280px;
    height:320px;
  }
}
  
     @media (max-width: 715px){
     .search-dog-card {
      width:250px;
     }
    }

  @media (max-width: 656px) {
    
   .search-dog-card{
    width: 320px;
    height:300px;
   }

   .dog-search-h1 {

    margin-bottom: 0px;
   }
  
    .dog-search-h3{

      font-size: 14px;
      margin: 0px;
    }
    .alphabet-toggle-btn{
      top:-25px
    }
    .alphabet-container {
      align-items: flex-end;
      right: 5px;
    }
  }

  .load-more-btn {
    width: 160px;
    font-size: 0.95rem;
  }
  
  .search-bar {
    margin: 10px auto;
  }
    
   @media (max-width: 520px) {

    .filters{
      display: flex;
      flex-wrap:wrap ;
    }
  
   }

     @media (max-height: 520px){

      .hamburger-menu.open {
        height: 93svh;
      }
.dog-search-main{
  margin-bottom: 0px;
}
     .dog-search-h3{
font-size: 16px;
      margin:0px;
     }
     
      .search-dog-card {
        width: 240px;
        height: 260px;
    }

    .dog-search-h1{
      margin-bottom: 0px;
    }
    .dog-search-img{
      height: 180px;
    }

    .search-bar {
    display: flex;
    justify-content: center;
}

      .alphabet-container{
        top: 65px;
      }
     
    }