.dog-search-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.dogCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  cursor: pointer;
  justify-content: space-evenly;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px var(--box-shadow);
  border-bottom: 1.5px solid rgb(6, 5, 5);
  text-align: center;
  transition: transform 0.2s;
}

.dogCard:hover {
  transform: scale(1.05);
}

.dogCard h3,
.dogName {
  color: var(--text-color);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.dogImg {
  max-width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.resultsText {
  color: var(--text-color);
  text-align: center;
  margin-top: 10px;
  padding: 0px 20px;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  color: var(--text-color);
}

h3 {
  color: var(--text-color);
}

.dog-search-container {
  padding: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.filter-select-dog-search {
  width: 140px;
  height: 38px;
  border-radius: 5px;
  background-color: var(--button-color);
  color: var(--text-color);
  border: 1px solid var(--button-border-color);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.suitable-dog-popup-content {
  margin: auto;
  background: var(--popup-color);
  padding: 25px 30px;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  max-height: 75%;
  position: relative;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  transform: scale(0.8);
  opacity: 0;
  animation: popupFadeIn 0.3s forwards;
}

.suitable-dog-popup-content h2 {
  color: var(--accent-color);
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.suitable-dog-popup-content p {
  color: var(--alt-text-color);
  gap: 10px;
  padding: 10px;
  margin-bottom: 15px;
}

.dogImgLarge {
  width: 100%;
  height: auto;
  max-height: 270px;
  object-fit: cover;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.42);
  border-bottom: 2px solid rgb(6, 5, 5);
}

.modal-close {
  position: absolute;
  top: 2px;
  left: 12px;
  font-size: 40px;
  cursor: pointer;
  color: #000;
  background: none;
  border: none;
}

.modal-close:hover {
  transform: scale(1.2);
  color: var(--accent-color);
}

@keyframes popupFadeIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 935px) {
  .dog-search-container {
    margin-top: 5%;
  }

  @media (max-width: 580px) {
    .dog-search-container {
      margin-top: 15%;
    }
    .dogImg {
      height: 230px;
    }
    .suitable-dog-popup-content {
      max-width: 90%;
      max-height: 75%;
    }
    .suitable-dog-popup-content p {
      padding: 0px;
      margin-bottom: 10px;
    }
    .pagination {
      gap: 0px;
    }
  }
}
