.dog-search-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 35px;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding: 0px 60px;
}
.dogCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  cursor: pointer;
  justify-content: space-evenly;
  width: 300px;
    border-radius: 10px;
  box-shadow: 0px 1px 3px 0px var(--box-shadow);
  border-bottom: 1.5px solid rgb(6, 5, 5);
  text-align: center;
  transition: transform 0.2s;
}

.dogCard:hover {
  transform: scale(1.05);
}



.dogImg {
  max-width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 21px;
}

.resultsText {
  color: var(--text-color);
  text-align: center;
  margin-top: 10px;
  padding: 0px 20px;
}

.dog-search-h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 80px;
  color: var(--text-color);
}

h3 {
  color: var(--text-color);
}

.dog-search-container {
  padding: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.filter-select-dog-search {
  width: 140px;
  height: 38px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--text-color);
  border: 1px solid var(--button-border-color);
}

.clear-filters-btn {
      background: var(--accent-color);
    border: 1px solid var(--button-border-color);
    border-radius: 6px;
    color: var(--text-color);
    cursor: pointer;
    padding: var(--button-padding);
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}



.popup-text p {
  color: var(--text-color);
}

.dog-search-layout {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.dog-search-main {
  flex: 1;
 margin-bottom: 40px;
}

.az-img {
  filter: invert(0.5);
    width: 30px;
}
.alphabet-container {
  position: fixed;
  right: 10px;
  top: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alphabet-toggle-btn {
  width: 28px;
  height: 36px;
  margin-bottom: 6px;
  border: 1px solid var(--accent-color);
  border-radius: 6px;
  background: transparent;
  color: var(--text-color);
  font-weight: 200;
  cursor: pointer;
  transition: background 0.2s;
}

.alphabet-toggle-btn:hover {
  background: var(--accent-color);
}

.alphabet-letters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  opacity: 0;
  max-height: 0;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.alphabet-letters::-webkit-scrollbar {
  display: none;
}

.alphabet-letters.open {
    position: absolute;
    top: 40px;
    right: 1px;
    opacity: 1;
    max-height: 140px;
}

.alphabet-btn {
  width: 24px;
  height: 24px;
  margin: 2px 0;
  border: 1px solid var(--button-border-color);
  border-radius: 6px;
  background: transparent;
  color: var(--text-color);
  cursor: pointer;
  font-weight: 200;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s, color 0.2s;
}

.alphabet-btn:hover {
  border-color: var(--accent-color);
}

.alphabet-btn.active {
  background: var(--accent-color);
}



.load-more-btn {
  margin: 30px auto 80px;
  display: block;
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 300;
  color: var(--text-color);
  background: transparent;
  border: 1px solid var(--accent-color) ;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease, opacity 0.2s ease;
}

.load-more-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.load-more-btn:active {
  transform: translateY(0);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.load-more-btn:focus {
  outline: none;
}


@keyframes popupFadeIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 935px) {
  .dog-search-container {
    margin-top: 5%;
  }
 
}

 

 

     @media (max-width: 770px){

   
     .dogCard {
      width:270px;
     }
     .dogImg {
      width: 100%;
     
     }
    }

    
     @media (max-width: 715px){

   
     .dogCard {
      width:210px;
     }
    }
  @media (max-width: 641px) {
    
   
    .dog-search-grid{
      padding:0px
    }

  

    .dogImgLarge {
    width: 70%;
    height: 200px;
    object-fit: cover;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.42);
    border-bottom: 2px solid rgb(6, 5, 5);
}
    .suitable-dog-popup-content {
      display: flex;
      flex-direction: column;
      max-width: 90%;
      height: 80svh;
      margin: auto;
    }
    .suitable-dog-popup-content p {
      padding: 0px;
      margin-bottom: 10px;
    }
    .pagination {
      gap: 0px;
    }

    .alphabet-toggle-btn{
      top:-25px
    }
    .alphabet-container {
      align-items: flex-end;
      right: 5px;
    }
  }

 

  @media (max-width: 580px) {
  .load-more-btn {
    width: 160px;
    font-size: 0.95rem;
  }
  .filters {
    scale: 0.8;
  }

  .search-bar {
    margin: 10px auto;
  }

  .dog-search-h1 {
    margin-top: 30px;
  }

  .dogCard {
    width: 280px;
        height: 320px;
  }
  .dogImg{
    width: 100%;
    height: 81%;
  }
  

  }
    

     @media (max-height: 520px){

      .alphabet-container{
        top: 65px;
      }
     
    }