.site-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  border-radius: 10px ;
  padding: 6px 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid transparent;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

.site-button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.site-button:disabled:hover {
  background-color: inherit;
  transform: none;
}

.site-button-primary {
  background: var(--input-color);
  border: 1px solid var(--accent-color);
  color: var(--text-color);
}

.site-button-primary:hover:not(:disabled) {
  border: 2px solid var(--button-hover-border-color);
} 

.site-button-secondary {
  background: var(--fill-background-color);
  color: var(--fill-button-text);
  border: none;
}

.site-button-secondary:hover:not(:disabled) {
  background: var(--fill-button-hover-color);
}

.button-loading {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  background: transparent;
}

.button-spinner {
  border: 2px solid var(--button-border-color);
  border-top: 2px solid var(--accent-color);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}
