.site-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  border-radius: 10px ;
  padding: 6px 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid transparent;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

.site-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.site-button-primary {
  background: var(--input-color);
  border: 1px solid var(--accent-color);
  color: var(--text-color);
}

.site-button-primary:hover:not(:disabled) {
  border: 2px solid var(--button-hover-border-color);
}

.site-button-secondary {
  background: var(--fill-background-color);
  color: var(--fill-button-text);
  border: none;
}

.site-button-secondary:hover:not(:disabled) {
  background: var(--fill-button-hover-color);
}

.site-button:active:not(:disabled) {
  transform: scale(0.98);
}

.button-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: transparent;
}

.site-button * {
  pointer-events: none;
}