.site-button {
    width: 100px;
    font-weight: 300;
    padding: 6px 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.site-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.site-button-primary {
  background: var(--input-color);
  border: 1px solid var(accent-color);
  color: var(--text-color);
}

.site-button-primary:hover {
  border-color: var(--button-hover-border-color);
  border: 2px solid var(--button-hover-border-color);
}

.site-button-secondary {
    background: var(--fill-background-color);
    color: var(--fill-button-text);
    border: none;
    height: 36px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.site-button-secondary:hover {
  background: var(--fill-button-hover-color);
}

.button-loading {
  display: flex;
  align-items: center;
  background: none;
  justify-content: center;
  gap: 8px;
}
.site-button:active,
.site-button[disabled] {
  background-color: transparent !important;
  background-image: none !important;
  border-color: var(--accent-color); 
}

.site-button .button-loading {
  background: transparent;
}