.profile-container {
  max-width: 600px;
  margin: 50px auto 150px;
  padding: 20px;
  border: 1px solid var(--button-border-color);
  border-radius: 12px;
}

.profile-container h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 15px;
  color: var(--text-color, #333);
  margin-top: 0;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-form label {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--text-color, #333);
  font-size: 16px;
}

.profile-buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}

.profile-update-button,
.profile-delete-button {
  width: 150px;
}

@media (max-width: 952px){
.profile-container{
  margin-top: 15svh;
}
}

@media (max-width: 704px) {
  .profile-container {
    padding: 15px;
    width: 90%;
  }
 
    .profile-container h1 {
      font-size: 28px;
    }

    .update-btn,
    .delete-btn {
      font-size: 16px;
    }
  
}

@media (max-height: 520px){
  .profile-container{
    width: 400px;
        border-radius: 18px;
        height: 320px;
        border: 1px solid var(--button-border-color);
        margin-bottom: 200px;
  }
  
  .profile-container h1{
    font-size: 28px;
    margin-bottom: 5px;
  }

  .profile-form{
    scale: 0.6;
    margin-top: -19svh;
    gap: 10px;
  }

  .profile-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
    width: 100%;
}
}
