.game {
  position: relative;
  text-align: center;
  padding: 15px;
}
.game h1 {
  color: var(--text-color);
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}
.score-lives {
  position: absolute;
  left: 5svw;
  top: 15svh;
  width: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.question-text {
  color: var(--text-color);
  font-size: 22px;
}

.game h2 {
  margin-bottom: 70px;
  margin-top: 80px;
}

.game-text {
  color: var(--text-color);
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
}
.start-btn {
  width: 200px;
  font-size: 30px;
  margin: 50px 20px;
}

.score {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.score-num {
  color: red;
}

.heart {
  color: var(--text-color);
}

.time {
  color: var(--text-color);
}

.live {
  color: var(--text-color);
}
.breed {
  color: #8e44ad;
  text-transform: capitalize;
}

.dog-grid {
  /* margin-top: 35px; */
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.dog-image {
  width: 270px;
  height: 270px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s;
  box-shadow: 10px 10px 42px -9px rgba(0, 0, 0, 0.75);
}

.dog-image:hover {
  transform: scale(1.05);
}

.lives {
  font-size: 1.2rem;
  color: #f13259;
  margin-bottom: 1rem;
}

.timer {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.timer-icon {
  width: 20px;
  height: 30px;
}

.live-icon {
  width: 30px;
  height: 30px;
}

.pause-btn {
  position: absolute;
  top: 18svh;
  right: 8svw;
  width: 40px;
  height: 32px;
}

.paused {
  margin-top: 25svh;
}

.game-over {
  font-size: 30px;
  color: var(--accent-color);
}

.restart-btn {
  margin-top: 50px;
}

.repeat {
  margin-bottom: 60px;
}

.game-timer {
  font-size: 1.2rem;
  color: #ff4d4d;
  font-weight: bold;
  margin-bottom: 1rem;
}
.footer-container {
  height: 55px;
}

@media (max-width: 941px) {
  .dog-grid {
    width: 100%;
  }
 
  .game h1 {
    margin-top: 7svh;
  }
  .game h2 {
    margin-bottom: 20px;
  }
}
@media (max-width: 900px) {
  .dog-grid {
    width: 100%;
  }
  
  .game h1 {
    margin-top: 8svh;
  }
  .game h2 {
    margin-bottom: 20px;
  }
  .footer-container {
    height: 55px;
  }
}
@media (max-width: 819px) {
  .dog-image {
    width: 220px;
    height: 220px;
  }
}
@media (max-width: 741px) {
  .score-lives {
    width: 100%;
    left: 0px;

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-content: center;
    align-items: center;
  }

  .pause-btn {
    top: 20svh;
    right: 50%;
    transform: translateX(50%);
  }
  .game h2 {
    margin-top: 110px;
  }
}

@media (max-width: 550px) {
  .game h1 {
    font-size: 20px;
  }
  .game h2 {
    margin-bottom: 20px;
  }
  .question-text[data-long='true'] {
    font-size: 18px;
  }

  .dog-image {
    width: 190px;
    height: 190px;
  }
  .score-lives {
    position: absolute;
    left: 5svw;
    top: 18svh;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .game h1 {
    font-size: 28px;
  }

  .timer,
  .score,
  .lives {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
  .pause-btn {
    position: absolute;
    top: 22svh;
    right: 50%;
    transform: translateX(50%);
  }
  .paused {
    color: var(--text-color);
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  .dog-image {
    width: 160px;
    height: 160px;
  }
}

@media screen and (max-width: 935px) and (orientation: landscape) {
  .dog-grid {
    margin-top: 35px;
    margin-bottom: 50px;
    gap: 20px;
  }

  .game h1 {
    font-size: 20px;
    padding-top: 3svh;
    margin-bottom: 25px;
  }
  .game h2 {
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .question-text[data-long='true'] {
    font-size: 18px;
  }

  .dog-image {
    margin-top: 10px;
    width: 250px;
    height: 240px;
  }
  .score-lives {
    position: absolute;
    left: 5svw;
    width: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}

.game h1 {
  font-size: 28px;
}

.timer,
.score,
.lives {
  font-size: 14px;
  margin-bottom: 5px;
}

.paused {
  color: var(--text-color);
  font-size: 20px;
}
.toggle.active {
  position: absolute;
  top: 2px;
}
@media screen and (max-width: 897px) and (orientation: landscape) {
  .dog-image {
    width: 240px;
    height: 210px;
  }
  .game h1 {
    margin-top: 7svh;
  }
}
@media screen and (max-width: 850px) and (orientation: landscape) {
  .dog-image {
    width: 220px;
    height: 220px;
  }
  .game h1 {
    margin-top: 7svh;
  }
}
@media screen and (max-width: 785px) and (orientation: landscape) {
  .dog-grid {
    margin-top: 5px;
    margin-bottom: 50px;
    gap: 20px;
  }
  .dog-image {
    width: 180px;
    height: 160px;
  }
  .game h1 {
    margin-bottom: 15px;
  }
 
}

@media screen and (max-width: 680px) and (orientation: landscape) {
  .pause-btn {
    right: 8svh;
  }
}
