.animal-fact-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--alt-card-color);
  padding: 15px;
  width:70svw;
  height: 280px;
  max-height: 60svh;
  border-radius: 10px;
  border: 1px solid var(--button-border-color);
  text-align: center;
  margin: auto;
  margin-top: 15svh;
}

.animal-fact-header {
  color: var(--accent-color);
  background: none;
}

.animal-fact {
  font-size: 1.1rem;
  margin: 1rem 0;
  color: var(--text-color);
  background: none;
}

.loading-animal-fact {
  color: var(--text-color);
  background: none;
}

.loading-animal-fact p {
  background: none;
}

.loading-fact {
  background: none;
}

.fact-text {
  color: var(--text-color);
  background: none;
  margin-top: 20px;
  margin-bottom: 50px;
}

.new-fact-btn {
  width: 140px;
  border: none;
}

@media (max-width: 600px) {
  .animal-fact-container {
    height: 320px;
    width: 90%;
  }
}

@media (max-width: 459px) {
  .new-fact-btn {
    width: 120px;
  }
}

@media (max-height: 520px) {
  .animal-fact-container {
    height: 85svh;
    width: 80svw;
  }

  .fact-text {
    font-size: 16px;
    margin-top: 0px;
  }

  .new-fact-btn {
    width: 120px;
    height: 28px;
    margin-bottom: 5px;
  }
}