.hamburger-btn {
  display: none;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 952px) {
  .hamburger-btn {
    color: var(--alt-card-color);
    transition: filter 0.3s ease;
    filter: invert(0.7);
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 1000;
    position: fixed;
    top: 15px;
    right: 15px;
  }


  .hamburger-btn span {
    height: 3px;
    width: 25px;
    margin-bottom: 4px;
    border-radius: 3px;
  }
  .hamburger-btn:hover {
    transform: scale(1.1);
    color: var(--accent-color);
  }

     .hamburger-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -250px;
        height: fit-content;
        width: 190px;
        border: 2px solid var()--button-border-color;
        border-radius: 10px;
        margin-top: 47px;
        list-style: none;
        transition: right 0.3s ease;
    }

.hamburger-menu.open {
        right: 0;
        border: 1px solid var(--button-border-color);
        border-right: none;
        background: var(--background-color);
        height: 520px;
        margin-top: 12px;
        z-index: 1000;
    }
      
  .hamburger-menu.open a {
    color:var(--text-color);
  }
  .hamburger-menu.open a:active {
    color: var(--accent-color);
  }
  .hamburger-menu.open a:hover {
    color: var(--accent-color);
  }
  .hamburger-menu li {
    margin: 13.2px 0;
  }


  .close-btn-hamburger {
    position: absolute;
    margin: 20px;
    background-color: transparent;
    border: none;
    top: -10px;
    left: -5px;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    transition: transform 0.2s ease;
  }

  .close-btn-hamburger:hover {
    transform: scale(1.1);
    color: var(--accent-color);
  }

}

@media(max-height:520px){
.hamburger-menu{
  height:190px;
  overflow-y: hidden;
}

    .hamburger-menu.open {
        right: 0;
        border: 1px solid var(--button-border-color);
        border-right: none;
        height: 212px;
        scrollbar-width: none;
        overflow-y: scroll;
    }

}
