.hamburger-btn {
  display: none;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 952px) {
  .hamburger-btn {
    color: var(--alt-card-color);
    transition: filter 0.3s ease;
    filter: invert(0.7);
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 3000;
    position: fixed;
    top: 15px;
    right: 15px;
  }

  .hamburger-btn span {
    height: 3px;
    width: 25px;
    background: #333;
    margin-bottom: 4px;
    border-radius: 3px;
  }
  .hamburger-btn:hover {
    transform: scale(1.1);
    color: var(--accent-color);
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -250px;
    height: fit-content;
    width: 190px;
    border-radius: 10px;
    margin-top: 50px;
    padding: 10px;
    background: #fff;
    list-style: none;
    transition: right 0.3s ease;
    z-index: 1050;
  }

  .hamburger-menu.open {
    right: 0;
  }
  .hamburger-menu.open a {
    color: black;
  }
  .hamburger-menu.open a:active {
    color: var(--accent-color);
  }
  .hamburger-menu.open a:hover {
    color: var(--accent-color);
  }
  .hamburger-menu li {
    margin: 13.2px 0;
  }

  .nav-list a {
    color: black;
  }
  .nav-list a:active {
    color: var(--accent-color);
    border-bottom: 1px solid black;
  }
  .nav-list a:hover {
    color: var(--accent-color);
    border-bottom: 1px solid black;
  }

  body.menu-open {
    overflow-x: hidden;
  }

  .close-btn-hamburger {
    position: absolute;
    margin: 20px;
    background-color: transparent;
    border: none;
    top: -10px;
    left: -5px;
    font-size: 24px;
    cursor: pointer;
    color: var(--alt-text-color);
    transition: transform 0.2s ease;
  }

  .close-btn-hamburger:hover {
    transform: scale(1.1);
    color: var(--accent-color);
  }

  .hamburger-menu a {
    color: black;
    text-decoration: none;
  }

  .hamburger-menu a:hover {
    color: var(--accent-color);
    border-bottom: 1px solid black;
  }
}

@media (max-height: 500px) and (orientation: landscape) {
  .hamburger-menu {
    max-height: 70svh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
