

.delete-modal-content {
  width: 350px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: var(--background-color);
  border: 1px solid var(--button-border-color);
  border-radius: 12px;
  margin: auto;
  padding: 0px 10px;
}

.delete-modal-content h3 {
  font-size: 20px;
}

.delete-modal-content p {
  color: var(--text-color);
  text-align: center;
}

.delete-modal-buttons {
    height: 30px;
    display: flex;
    gap:10px;
}

.modal-close {
  position: absolute;
  top: 2px;
  left: 12px;
}
