.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.pagination span {
  color: var(--text-color);
  margin-bottom: 80px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  padding: 0;
}

.pagination button {
  width: 100px;
  margin-bottom: 80px;
  margin-top: 20px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 473px) {
  .pagination span {
    font-size: 15px;
  }
}
