.product-card {
    position: relative;
    height: 520px;
    width: 300px;
    background: var(--background-color);
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid var(--button-border-color);
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    flex-direction: column;
    overflow: hidden;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card h2 {
        font-size: 17px;
        font-weight: 400;
        padding: 0px 5px;
        margin-top: 15px;
    text-align: center;
    color: var(--accent-color);
}

.product-card-img {  
    width: 100%;
    border-radius: 12px;
    height: 250px;
    background: #ffffff;
}

.product-card-img img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.product-card-info h4{
  padding: 3px 5px;
  font-size:17px;
}

  .product-card-info {
    display: flex;
    gap: 10px;
    color: var(--text-color);
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.form-section-visuals {
    display: flex;
    height: 38%;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.price,
.rating {
  font-size: 16px;
  color: var(--text-color);
}

.rating-line { 
  display: flex;  
  gap: 5px; }

.star {
  color:yellow;
}

.product-card:hover {
  transform: scale(1.02);
}

.product-buttons button {
    width: 100px;
    display: flex;
    height: 30px;
    gap: 5px;
    color: var(--text-color);
    background: var(--background-color);
    border: 1px solid var(--accent-color);
    border-radius: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fill-heart,
.line-heart {
  font-size: 30px;
}

.heart-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
  color: dimgrey;
}

.heart-btn:hover {
  color: red;
}

.heart-btn.active {
  color: red;
}

.heart-btn#heart:before {
  left: 50px;
  transform: rotate(-45deg);
}

.heart-btn#heart:after {
  left: 0;
  transform: rotate(45deg);
}

.heart-btn.active#heart:before,
.heart-btn.active#heart:after {
  background: red !important;
}

.site-button-primary{
    border: 1px solid var(--accent-color);
}

.site-button-primary:hover{
    background: var(--accent-color);
}


@media (max-width: 750px){
.product-card {
    width: 80%;
    height: 280px;
    flex-direction: row;
    align-items: flex-start;
  }

  .product-card h2 {
    margin-left: 10px;
  }

  .product-card-img {
    width: 250px;
    object-fit: contain;
    border-radius: 12px;
    height: 100%;
    background: #ffffff;
}

     .product-card-info {
        width: 90%;
        height: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
    }

  .product-card-info h4{
    margin-top: 10px;
  }

  .product-card-info h2,
  .product-cartd-info p {
    text-align: center;
  }
}

@media (max-width: 662px){

    .product-card h2{
font-size: 16px;
    }

    .product-card-img{
        width:260px;
      
    }
    .product-card-img img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
}

@media (max-width: 590px)
{
       .product-card {
        width: 320px;
        height: 510px;
        display: flex;
        padding:0px;
        flex-direction: column;
        align-items: center;
    }

  .product-card-img {
    width: 318px;
    height: 250px;
    object-fit: contain;
    border-radius: 10px;
  }

  .product-info {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .product-info h2,
  .product-info p {
    text-align: center;
  }

  .product-button{
    border: 1px solid var(--accent-color);
  }
}

@media (max-width: 590px){
.product-card-info h4 {
    font-size: 17px;
}}

@media (max-height: 520px) {
  .product-card {
    width: 90%;
    height: 230px;
    flex-direction: row;
    align-items: flex-start;
  }

  .product-card-img {
    width: 250px;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
  }

  .product-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .product-info h2,
  .product-info p {
    text-align: center;
  }
}


.product-card-info h4 {
    font-size: 16px;
    color: var(--accent-color);
}

.product-buttons {
    display: flex;
    bottom: 15px;
    position: absolute;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.heart-btn.active {
    transform: scale(1.1);
}

