.login-required h2, .login-required p{

    color: var(--text-color);
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 95spx) {
    .login-required h2{
        margin-top: 11svh;
    }
    }
