.home-container {
    display: flex;
    width: 100%;
    height: 85svh;
    background: var(--background-color);
    flex-direction: column;
    align-items: center;
}
.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-h1 {
  color: var(--accent-color);
  margin-top: 12svh;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.home-img {
  display: block;
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 30px;
} 



.home-dog-btn{
  height:35px;
  filter:invert(1)
}

.home-cat-btn{
     height: 48px;
    filter: invert(1);
}

.home-buttons {
  margin-top: 20px;
  display: flex;
  
  justify-content: center;
  gap: 1rem;
  opacity: 0;
}

.second-home-btn{
  width: 120px;
}

.home-buttons.fade-in {
  margin-bottom: 80px;
  animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-btn {
  width: 80px;
  height:40px;
   background: linear-gradient(200deg, #8f44ad, #7b3696, #c53dbb, #8f44ad);
  background-size: 200% 200%;
  animation: gradientShift 6s ease infinite, pulseGlow 3s ease-in-out infinite;
  transition: transform 0.3s ease;
  transition: transform 0.2s;
}

.home-btn:hover {
  transform: scale(1.05);
}

.fun-options {
  display: flex;
  gap:20px;
  align-items: center;
  margin-top: 20px;
  opacity: 0;
}

.fun-options.fade-in {
  background: var(--background-color);
  animation: fadeInUp 0.8s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 25%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 50% 75%;
  }
  75% {
    background-position: 50% 75%;
  }
  100% {
    background-position: 75% 100%;
  }
  75% {
    background-position: 100% 75%;
  }
  50% {
    background-position: 75% 50%;
  }
  25% {
    background-position: 50% 25%;
  }
  0% {
    background-position: 25% 0%;
  }
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 1px var(--fill-button-hover-color),
      0 0 1px var(--accent-color);
  }

  100% {
    box-shadow: 0 0 2px var(--fill-button-hover-color),
      0 0 2px var(--accent-color);
  }
}

.fun-options button {
  margin-top: 10px;
  width: 120px;
  font-weight: 400;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(200deg, #8f44ad, #7b3696, #c53dbb, #8f44ad);
  background-size: 200% 200%;
  animation: gradientShift 6s ease infinite, pulseGlow 3s ease-in-out infinite;
  transition: transform 0.3s ease;
}

.fun-options button:hover {
  transform: scale(1.05);
}
.back-link {
    width: 120px;
    border-radius: 8px;
    padding:6px 4px;
    color: var(--text-color);
    background: none;
    border: 2px solid var(--accent-color);
}

.back-link:hover{
   background: linear-gradient(200deg, #8f44ad, #7b3696, #c53dbb, #8f44ad);
  background-size: 200% 200%;
  animation: gradientShift 6s ease infinite, pulseGlow 3s ease-in-out infinite;
  transition: transform 0.3s ease;

}

@media (max-width: 714px) {

  .home-h1 {
    margin-top:11svh;
    margin-bottom: 20px;
  }

  .home h2 {
    margin-top: -8svh;
  }
       .home-img {
        width: 50%;
        height: 250px;
        margin-bottom: 10px;
        margin-top: 0px;
    }

  .home-buttons {
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15px;
    margin-bottom: 0px;
    gap: 20px;
    opacity: 0;
    flex-direction: column;
  }

  .home-buttons.fade-in {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .fun-options {
    gap:1px;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}


@media (max-width: 622px) {
  .home h1 {
    font-size: 30px;
  }
  /* .home-btn {
    width: 120px;
    font-size: 20px;
  } */
}

@media (max-width: 505px) {

  .home{
    flex-direction: column;
  }
  .home-img {
    width: 240px;
    height: 220px;
    margin-bottom: 20px;
  }
  .home-h1{
    margin-bottom: 30px;
  }

  .fun-options{
    gap:0px;
  }
  .home-buttons.fade-in{
    width:300px;
    display: flex;
    align-items: center;
  }

  .home-buttons{
    padding:0px;
  }

.fun-options button{
height:30px;
padding: 0px;
}
.fun-options > .home-btn {
  font-size: 20px;
}
.fun-options > .home-btn:hover {
  transform: scale(1.05);
}
}

@media (max-height: 520px) {
   .home{
  width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

  .home-h1 {
    margin-top:12svh;
    margin-bottom: 10px;
  }

  .home h2 {
    margin-top: -8svh;
  }

     .home-img {
        width: 60%;
        display: flex;
        height: 60svh;
        margin: 0px;
     }

  .home-buttons {
    display: flex;
    width: 32%;
    margin: 0px;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15px;
    margin-bottom: 0px;
    gap: 20px;
    opacity: 0;
    flex-direction: column;
  }

  .home-buttons.fade-in {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .fun-options {
    gap:0px;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}
