.home {
  position: relative;
}

.home-img {
    width: 100svw;
    height: 100svh;
    object-fit: cover;
    filter: grayscale(0.4);
}

.home-h1 {
    position: absolute;
    top: 28%;
    left: 15%;
    width: 240px;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px var(--accent-color);
    margin: 0;
    font-weight: 400;
    font-size: 44px;
    text-align: left;
    z-index: 10;
}

@media (max-width: 835px){
      .home-h1 {
        top: 25%;
        left: 17%;
        text-align: center;
        font-size: 34px;
    }
}

@media (max-width: 758px) {

   .home-h1{
        font-size: 34px;
        top: 26%;
        left: 110px;
        width: 200px;
   }

  .home h2 {
    margin-top: -8svh;
  }
   
}

@media (max-width: 670px){
  .home-h1{
        font-size: 32px;
        top: 14%;
        left: 50%;
        width: 360px;
    }
  }

@media (max-height: 520px) {
   .home{
  width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.home-img{
  height: 125svh;
}

      .home-h1 {
       font-size: 38px;
        top: 28%;
    }

  .home h2 {
    margin-top: -8svh;
  }
}
