.home {
  position: relative;
}

.home-img {
    width: 100svw;
    height: 100svh;
    object-fit: cover;
    filter: grayscale(0.4);
}

.home-h1 {
    position: absolute;
    top: 28%;
    left: 15%;
    width: 240px;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
    margin: 0;
    font-weight: 400;
    font-size: 44px;
    text-align: left;
    z-index: 10;
}

@media (max-width: 714px) {

  .home-h1 {
    margin-top:11svh;
    margin-bottom: 20px;
  }

  .home h2 {
    margin-top: -8svh;
  }
   
}


@media (max-width: 622px) {

    .home h1{
        font-size: 28px;
        top: 40px;
        width: 100%;
        left: 50%;
        text-align: center;
    }
  
}

@media (max-width: 505px) {

  .home{
    flex-direction: column;
  }

  .home-h1{
    margin-bottom: 30px;
  }

}

@media (max-height: 520px) {
   .home{
  width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.home-img{
  height: 125svh;
}

      .home-h1 {
        font-size: 38px;
        top: 95px;
        left: 125px;
    }

  .home h2 {
    margin-top: -8svh;
  }
}
