.product-edit-form {
  height: 85svh;
  position: relative;
  width: 320px;
  background: var(--background-color);
  display: flex;
  border: 2px solid var(--button-border-color);
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
}

.product-name {
  height: 75px;
  width: 80%;
  border-radius: 6px;
  background: var(--input-color);
  overflow-y: auto;
  scrollbar-width: none;
  color: var(--text-color);
  resize: none;
  margin-bottom: 10px;
  padding: 5px;
  box-sizing: border-box;
}

.product-edit-title {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  color: var(--accent-color);
  font-weight: 400;
}

.modal-content p {
  color: var(--text-color);
  font-size: 14px;
}

 .product-layout {
    display: flex;
    flex-direction: column;
  }

.product-edit-form textarea::-webkit-scrollbar {
  display: none;
}

.drop-zone-container {
  margin-bottom: 10px;
  background: var(--input-color);
  margin-top: 5px;
}

.product-visual {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 15px;
}

.modal-content {
  background: none;
}

.add-product-inputs {
  display: flex;
  height: 240px;
  width: 280px;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.url-container {
    display: flex;
    position: relative;
    align-items: center;
    gap: 8px;
    width: 100%;
    justify-content: center;
}

.url-container input {
  background: var(--input-color);
}

.product-form-tip {
  position: absolute;
  right: 5px;
  top: -5px;
}

.product-test-link-btn {
  position: absolute;
  right: 29px;
  top: 0px;
  width: 48px;
  height: 36px;
  font-size: 12px;
  padding: 4px 12px;
  background-color: var(--accent-color);
  color: var(--text-color);
  border-radius: 4px;
  transition: background-color 0.2s;
}

.product-test-link-btn:hover {
  background: var(--fill-button-hover-color);
}

.product-edit-form input[type='text'],
.product-edit-form input[type='url'],
.product-edit-form input[type='number'] {
  width: 80%;
  margin-bottom: 10px;
  color: var(--text-color);
  font-size: 0.9rem;
  padding: 8px 10px;
  background: var(--input-color);
  cursor: text;
  border: 1px solid var(--button-border-color);
  border-radius: 6px;
}

.product-preview-image img {
  width: 210px;
  height: 160px;
  background: #fff;
  object-fit: contain;
  margin: auto;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.cancel-btn {
  padding: var(--button-padding);
  width: 40%;
  border: 0.5px solid var(--button-border-color);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  background: var(--background-color);
  color: var(--button-text-color);
  transition: background 0.2s ease;
}

.cancel-btn:hover {
  border: 2px solid var(--button-hover-border-color);
}

.add-product-modal-buttons {
  display: flex;
  position: absolute;
  bottom: 15px;
  justify-content: center;
  gap: 15px;
}

.add-product-modal-buttons button:first-child,
.add-product-modal-buttons button:last-child {
  padding: var(--button-padding);
  border-radius: 8px;
  height: 30px;
  cursor: pointer;
  width: 120px;
}

.add-product-modal-buttons button:first-child {
  color: var(--text-color);
  border: 0.5px solid var(--button-border-color);
  background: var(--input-color);
}

.add-product-modal-buttons button:first-child:hover {
  border: 2px solid var(--button-hover-border-color);
}

.add-product-modal-buttons button:last-child {
  background: var(--fill-background-color);
  color: var(--fill-button-text);
  border: none;
}

.add-product-modal-buttons button:last-child:hover {
  background: var(--fill-button-hover-color);
}

.metadata-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

@media (max-width: 585px) {

  .product-visual {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}

@media (max-height: 520px) {
  .product-edit-form {
    height: 82svh;
    width: 82svw;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .product-edit-title {
    margin-bottom: 8px;
  }

  .product-layout {
    width: 82svw;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }

  .product-visual {
    width: 250px;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 0px;
  }

  .add-product-inputs {
    height: 220px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .product-preview-image img {
    width: 210px;
    height: 160px;
    margin-bottom: 15px;
    object-fit: contain;
    border-radius: 10px;
    border: 1px solid var(--button-border-color);
  }

  .add-product-modal-buttons {
    width: 220px;
    justify-content: center;
    gap: 15px;
  }
}