.product-edit-form {
height: 82svh;
position: relative;
   max-width: 600px;
   background: var(--background-color);
  display: flex;
  border: 2px solid var(--button-border-color);
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
}

.product-edit-title {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    color: var(--accent-color);
    font-weight: 400;
}

.product-visual{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-inputs{
  border-radius: 14px;
  background: none;

}
.modal-content {
  background: none;
}
.add-product-inputs{
      display: flex;
    flex-direction: column;
    align-items: center;
}


.url-container {
    position: relative;
    display: flex;
    background: transparent;
    width: 340px;
    justify-content: center;
}

.test-link-btn {
    position: absolute;
    right: 18px;
    top: 0px;
    width: 48px;
    height: 36px;
    font-size: 12px;
    padding: 4px 12px;
    background-color: var(--fill-background-color);
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.product-edit-form input {
    width: 90%;
    margin-bottom: 10px;
    color: var(--text-color);
    font-size: 0.9rem;
    padding: 8px 10px;
    background: var(--background-color);
    cursor: text;
    border: 1px solid var(--button-border-color);
    border-radius: 6px;
}

.add-product-inputs:hover, .add-product-inputs:focus-visible{
color: var(--accent-color);
}


.file-label {
  font-size: 14px;
  font-weight: 500;
  color: #444;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.preview-image{
  background: none;
}
.preview-image img {
  width: 210px;
  height: 210px;
  background: #fff;
    object-fit: contain;
  margin: auto;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: flex;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
}
.drop-zone {
    display: flex;
    border: 1px dashed var(--button-border-color);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    height: 80px;
    width: 90%;
    color: var(--button-text-color);
    cursor: pointer;
    margin-bottom: 20px;
    transition: border-color 0.2s;
    align-items: center;
}

.drop-zone:hover {
  border-color: var(--accent-color);
}

.drop-zone p {
  color: var(--alt-text-color);
}
.drop-zone span {
  color: #8e44ad;
  font-weight: 600;
  cursor: pointer;
}

.form-buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.save-btn {
  background: var(--fill-background-color);
  color: var(--fill-button-text);
  width: 40%;
  border: none;
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  font-size: 14px;
}

.save-btn:hover {
  background: var(--fill-button-hover-color);
}

.cancel-btn {
  padding: var(--button-padding);
  width: 40%;
  border: 0.5px solid var(--button-border-color);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  background: var(--background-color);
  color: var(--button-text-color);
  transition: background 0.2s ease;
}

.cancel-btn:hover {
  border: 2px solid var(--button-hover-border-color);
}

.add-product-modal-buttons {
  display: flex;
  position: absolute;
  bottom: 15px;
  justify-content: center;
  gap: 15px;
}

.add-product-modal-buttons button:first-child,
.add-product-modal-buttons button:last-child {
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  height:30px;
  border-radius: 8px;
  cursor: pointer;
  width: 140px;
}

.add-product-modal-buttons button:first-child {
  color: var(--text-color);
  border: 0.5px solid var(--button-border-color);
  background: var(--background-color);
}

.add-product-modal-buttons button:first-child:hover {
  border: 2px solid var(--button-hover-border-color);
}

.add-product-modal-buttons button:last-child {
  background: var(--fill-background-color);
  color: var(--fill-button-text);
  border: none;
}

.add-product-modal-buttons button:last-child:hover {
  background: var(--fill-button-hover-color);
}

.add-product-form {
  display: flex;
  flex-direction: column;
}

.add-product-form label {
  font-size: 14px;
  color: #444;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-product-form input[type='text'],
.add-product-form input[type='number'],
.add-product-form input[type='url'] {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.test-link-btn:hover {
  background: var(--fill-button-hover-color);
}


@media (max-width: 740px) {
  .product-card img {
    width: 220px;
    height: 240px;
  }
  .product-card-info h4 {
    font-size: 15px;
  }
  
  .product-img {
    width: 220px;
    height: 240px;
  }
}

@media (max-width: 585px) {

  .add-product-edit-form{
    flex-shrink: 0.9;
  }

  .product-card-info h4 {
    font-size: 14px;
  }
 
}

@media (max-height:520px){

.add-product-modal-buttons {
    display: flex;
    position: absolute;
    right:70px;
    bottom: 15px;
        width: 206px;
    justify-content: center;
    gap: 15px;

}

    .product-edit-form {
        height: 82svh;
        border: 2px solid var(--button-border-color);
        width: 600px;
        border-radius: 12px;
        background: var(--background-color);
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-content: flex-start;
    }
.product-layout {
  width: 600px;
  background: none;
  display: flex;
  gap: 20px;
}

.product-visual {
  width: 40%;
  display: flex;
  flex-direction: column;
  background: none;
  align-items: center;
}

.product-form{
      display: flex;
    flex-direction: column;
    align-items: center;
}

.test-link-btn{
  height: 36px;
}
.add-product-inputs {
        width: 100%;
        display: flex;
        background: none;
        flex-direction: column;
        gap: 12px;
    }


    .preview-image img {
        width: 200px;
        height: 160px;
     
        margin-bottom: 15px;
    background: #fff;
    object-fit: contain;
    border-radius: 10px;
    border: 1px solid var(--button-border-color);
}

h3 {
    text-align: center;
    color: var(--accent-color);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
}

.add-product-edit-form input

 {
    width: 240px;
    margin-bottom: 10px;
    color: var(--text-color);
    font-size: 0.9rem;
    padding: 8px 10px;
    background: var(--background-color);
    cursor: text;
    border: 1px solid var(--button-border-color);
    border-radius: 6px;
}

.add-product-edit-form input[type='text'], .add-product-edit-form input[type='number'], .add-product-edit-form input[type='file'], .add-product-edit-form input[type='url'] {
    padding: 8px 10px;
    border: 1px solid var(--button-border-color);
    background: var(--background-color);
    color: var(--text-color);
    border-radius: 6px;
}



.drop-zone {
    display: flex;
    border: 1px dashed var(--button-border-color);
    border-radius: 10px;
    margin-bottom: 0px;
    text-align: center;
    color: var(--button-text-color);
    cursor: pointer;
    transition: border-color 0.2s;
    align-items: center;
}
}