.edit-form {
  height: 60svh;
  width:350px;
  display: flex;
  flex-direction: column;
}

h3 {
    text-align: center;
    margin-top: 10px;
    color: var(--accent-color);
    font-weight: 400;
}

.edit-form input {
  width: 90%;
  margin-bottom: 10px;
  color:var(--text-color);
  font-size: 0.9rem;
  cursor: text;
}

.edit-form input:hover {
  border: 1.5px solid var(--button-hover-border-color);
}


.edit-form input[type='text'],
.edit-form input[type='number'],
.edit-form input[type='file'],
.edit-form input[type='url'] {
     padding: 8px 10px;
    background: var(--background-color);
    border: 1px solid var(--button-border-color);
    border-radius: 6px;
}

.file-label {
  font-size: 14px;
  font-weight: 500;
  color: #444;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.preview-image img {
  width: 210px;
  height: 210px;
  background: #fff;
    object-fit: contain;
  margin: auto;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: flex;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
}
.drop-zone {
  border: 1px dashed #ccc;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: var(--button-text-color);
  cursor: pointer;
  transition: border-color 0.2s;
}

.drop-zone:hover {
  border-color: #8e44ad;
}

.drop-zone p {
  color: var(--alt-text-color);
}
.drop-zone span {
  color: #8e44ad;
  font-weight: 600;
  cursor: pointer;
}

.form-buttons {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.save-btn {
  background: var(--fill-button-color);
  color: var(--fill-button-text);
  width: 40%;
  border: none;
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  font-size: 14px;
}

.save-btn:hover {
  background: var(--fill-button-hover-color);
}

.cancel-btn {
  padding: var(--button-padding);
  width: 40%;
  border: 0.5px solid var(--button-border-color);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  background: var(--button-color);
  color: var(--button-text-color);
  transition: background 0.2s ease;
}

.cancel-btn:hover {
  border: 2px solid var(--button-hover-border-color);
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.modal-buttons button:first-child,
.modal-buttons button:last-child {
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  width: 140px;
}

.modal-buttons button:first-child {
  color: var(--text-color);
  border: 0.5px solid var(--button-border-color);
  background: var(--button-color);
}

.modal-buttons button:first-child:hover {
  border: 2px solid var(--button-hover-border-color);
}

.modal-buttons button:last-child {
  background: var(--fill-button-color);
  color: var(--fill-button-text);
  border: none;
}

.modal-buttons button:last-child:hover {
  background: var(--fill-button-hover-color);
}

.add-product-form {
  display: flex;
  flex-direction: column;
}

.add-product-form label {
  font-size: 14px;
  color: #444;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-product-form input[type='text'],
.add-product-form input[type='number'],
.add-product-form input[type='url'] {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}


.test-link-btn {
  position: absolute;
  right: 0px;
  width: 48px;
  height: 37px;
  font-size: 12px;
  display: inline-block;
  padding: 4px 12px;
  background-color: var(--fill-button-color);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.2s;
}
.test-link-btn:hover {
  background-color: var(--fill-button-hover-color);
}
.url-link {
  position: relative;
}

@media (max-width: 740px) {
  .product-card img {
    width: 220px;
    height: 240px;
  }
  .product-card-info h4 {
    font-size: 15px;
  }
  .card-buttons {
    right: 25px;
  }
  .product-img {
    width: 220px;
    height: 240px;
  }
}

@media (max-width: 480px) {

  .product-card-info h4 {
    font-size: 14px;
  }
  .card-buttons {
    right: 15px;
  }
}
