.small-animal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    cursor: pointer;
    justify-content: flex-start;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px var(--box-shadow);
    border-bottom: 1.5px solid rgb(6, 5, 5);
}

.small-animal-card h3{
  color: var(--accent-color);
  text-align: center;
  font-weight: 400;
  padding:10px;
  margin: 10px 0px;
  
}

.small-animal-card p {
  text-align: center;
  font-size: 14px;
}

.small-animal-card-img {
  width: 100%;
  height: 229px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 12px;
}

.small-animal-card:hover {
  transform: scale(1.01);
}

.SmallAnimalCardInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.small-animal-card-img {
  width: 100%;
  height: 229px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.small-animal-card h3 {
  color: var(--accent-color);
  text-align: center;
  font-weight: 400;
  margin: 15px 10px;
  line-height: 1.2;
}


@media (max-width: 750px){
.small-animal-card{
  width: 240px;
}

}


@media (max-width: 620px) {

 .small-animal-card {
        width: 295px;
        justify-content: flex-start;
        border-radius: 12px;
  }

 }

 @media (max-height: 520px) {

    .small-animal-card{
        height: 320px;
        width:40%
    }
  .small-animal-card-img {
    height:180px;
  }

 }