.favourites-card {
  width:320px;
  height: 500px;
}


.favourites-page h1 {
  color: var(--text-color);
  font-size: 30px;
  margin-top: 10svh;
  text-align: center;
}

.favourites-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
  margin-bottom: 25px;
  width: 100%;
  padding: 0px 25.5px;
  margin-bottom: 30px;
}

.fav-page-text {
  text-align: center;
  margin-top: 20px;
}
