   .favourite-card-img{
    width: 320px;
    object-fit: contain;
    background: #ffffff;
    height: 250px;
    border-radius: 12px;
}
.favourite-card-info {
        display: flex;
    flex-direction: column;
    align-items: center;
}


.favourite-card-info h3 {
    color: var(--accent-color);
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    margin: 10px;
}


.favourite-card {
    display: flex;
    height: 440px;
    width: 320px;
    flex-direction: column;
    border: 1px solid var(--button-border-color);
    align-items: center;
    position: relative;
    border-radius: 12px;
    background: var(--alt-card-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 760px){
    .favourite-card{
        width: 260px;
    }
    .favourite-card-img{
        width:260px;
        height:200px;
    }
}

@media (max-height: 520px){
    .favourite-card{
        width:240px;
        height:380px;
    }
    .favourite-card-img {
        height: 210px;
        width:240px;
    }
}