.controls-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
}

.results-text{
        text-align: center;
    color: var(--text-color);
}


.admin-product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
}

.admin-product-grid p{
    color: var(--text-color);
}

@media (max-width: 952px) {
    .admin-products h1 {
        margin-top: 11svh;
        font-size: 26px;
    }
}

@media (max-width: 660px) {
    .admin-products {
        padding: 6px;
    }
    
    .admin-products h1 {
        font-size: 26px;
    }
    .admin-tabs {
        margin-bottom: 10px;
    }
    .filter{
        margin-bottom: 15px;
    }
}

@media (max-height: 520px) {
    .admin-tabs {
        margin-bottom: 0px;
    }

    .price-filter, .rating-filter, .max-price-filter, .size-filter {
        width: 120px;
    }
}