.controls-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
}

.admin-tabs {
    display: flex;
    width: 225px;
    padding: 10px;
    height: 50px;
    border: 1px solid var(--button-border-color);
    border-radius: 29px;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.admin-tab {
    background: var(--background-color);
    width: 120px;
    height: 30px;
    border: 1px solid var(--accent-color);
    border-radius: 16px;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.admin-tab.active {
    background: var(--accent-color);
    color: white;
}

.results-text{
        text-align: center;
    color: var(--text-color);
}


.admin-product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
}

.admin-product-grid p{
    color: var(--text-color);
}

@media (max-width: 952px) {
    .admin-products h1 {
        margin-top: 11svh;
        font-size: 26px;
    }
}

@media (max-width: 660px) {
    .admin-products {
        padding: 6px;
    }
    
    .admin-products h1 {
        font-size: 26px;
    }
    .admin-tabs {
        margin-bottom: 10px;
    }
    .filter{
        margin-bottom: 15px;
    }
}

@media (max-height: 520px) {
    .admin-tabs {
        margin-bottom: 0px;
    }

    .price-filter, .rating-filter, .max-price-filter, .size-filter {
        width: 120px;
    }
}