.edit-form {
    height: 82svh;
    border: 2px solid var(--button-border-color);
    width: 350px;
    border-radius: 12px;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-products {
  position: relative;
}

.admin-products h1 {
  color: var(--text-color);
  margin-top: 10svh;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}


.admin-product-card-info h4, .admin-product-card-info p{

  color:var(--accent-color)
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 0px 20px;
}


.pagination-wrapper {
  display: flex;
  justify-content: center;
}


.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.admin-product-card{
  position: relative;
  height: 520px;
  width: 320px;
  background-color:var(--background-color);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid var(--button-border-color);
  transition: transform 0.2s;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.admin-product-card:hover {
  transform: translateY(-5px);
}

.admin-product-card img {
  height: 240px;
  width:320px;
  background: #fff;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 10px;
}



.admin-product-card-info {
  
    display: flex;
    gap: 10px;
    padding: 10px;
    font-size: 14px;
    color: var(--text-color);
    flex-direction: column;
}
.admin-dog-card-info p {
color: var(--text-color);

}

.admin-product-card h2 {
  font-size: 1rem;
  margin-bottom: 8px;
  text-align: center;
}

.admin-product-card, .admin-dog-card h4 {
  text-align: center;
    font-size: 19px;
    font-weight: 300;
    color: var(--accent-color);
}

.admin-product-card p {
 font-size: 14px;
}

.admin-card-buttons {
  position: absolute;
  bottom: 15px;
  right: 55px;
  display: flex;
  gap: 10px;
}



.drop-zone {
  border-color: var(--button-border-color);
  margin: 10px 0px;
}

.drop-zone p {
  color: var(--text-color);
}

.preview-image img {
  border: 1px solid var(--button-border-color);
}

.card-buttons button {
  flex: 1;
}

.admin-add-btn {
  position: fixed;
  top: 11%;
  right: 7px;
  background: #fff;
  color: #8e44ad;
  font-size: 40px;
  border: 1px solid #8e44ad;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.admin-add-btn:hover {
  border: 2px solid var(--fill-button-hover-color);
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.add-type-container {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 350px;
  border: 1px solid var(--button-border-color);
  border-radius: 10px;
  background: var(--background-color);
  color: var(--text-color);
}

.admin-add-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.admin-add-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  height: 140px;
}

.add-type-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.admin-add-img {
  width: 100px;
  filter: invert(0.7);
}



.delete-modal-content {
  width: 90%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: var(--background-color);
  border: 1px solid var(--button-border-color);
  border-radius: 12px;
  margin: auto;
  padding: 0px 10px;
}

.delete-modal-content h3 {
  font-size: 20px;
}

.delete-modal-content p {
  color: var(--text-color);
  text-align: center;
}

.modal-close {
  position: absolute;
  top: 2px;
  left: 12px;
}

.modal-overlay {
  z-index: 10;
}

.toggle-details-btn {
  background: none;
  border: none;
  color: var(--accent-color);
  cursor: pointer;
  margin-top: 5px;
  font-size: 0.9rem;
}



.admin-tabs {
      display: flex;
    gap: 25px;
    justify-content: center;
}
.admin-tab{
      background: var(--button-color);
      width: 120px;
    border: 1px solid #8f44ad;
    border-radius: 6px;
    cursor: pointer;
    color: var(--text-color);
    padding: var(--button-padding);
}

.admin-tab.active{
      background: var(--accent-color);
    border-radius: 6px;
    color: var(--text-color);
    padding: var(--button-padding);
}



@media (max-width: 952px) {
  .admin-add-btn {
    display: none;
  }
}


@media (max-width: 740px) {
  
  .admin-product-card-info h4 {
    font-size: 15px;
  }
  .admin-card-buttons {
    right: 25px;
  }
}

@media (max-width: 615px) {
 
  .admin-card-buttons {
    position: absolute;
    bottom: 15px;
    right: 55px;
    display: flex;
    gap: 10px;
  }
}

@media (max-height: 520px){
  .edit-form {
    border: 2px solid var(--button-border-color);
    width: 350px;
    scale: 0.6;
    border-radius: 12px;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin-product-card{
  width: 280px;
}
}
@media (max-width: 508px){

  .edit-form {
    display: flex;
    flex-direction: column;
        height: 80svh;
        border-radius: 12px;
        background: var(--background-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid var(--button-border-color);
    }
}
  .admin-product-card {
    height: 80svh;
    width: 320px;
  }


