.admin-products {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-products h1 {
    color: var(--accent-color);
    margin-top: 7svh;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.admin-tabs {
    display: flex;
    width: 225px;
    padding: 10px;
    height: 50px;
    border: 1px solid var(--button-border-color);
    border-radius: 29px;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.admin-tab {
    background: var(--background-color);
    width: 120px;
    height: 30px;
    border: 1px solid #8f44ad;
    border-radius: 16px;
    cursor: pointer;
    color: var(--text-color);
    padding: var(--button-padding);
}

.admin-tab.active {
    background: var(--accent-color);
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0 20px;
}

.admin-product-card {
    position: relative;
    height: 520px;
    width: 320px;
    background: var(--background-color);
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid var(--button-border-color);
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    flex-direction: column;
}

.admin-product-card:hover {
    transform: translateY(-5px);
}





.admin-product-card-info {
    display: flex;
    gap: 10px;
    padding: 10px;
    font-size: 14px;
    color: var(--text-color);
    flex-direction: column;
    align-items: center;
}

.admin-product-card-info h4 {
    font-size: 16px;
    margin-top: 10px;
}

.admin-product-card p {
    font-size: 14px;
}

.admin-product-buttons {
    position: absolute;
    bottom: 15px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.admin-add-btn {
    position: fixed;
    top: 11%;
    right: 7px;
    background: #fff;
    color: #8e44ad;
    font-size: 40px;
    border: 1px solid #8e44ad;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.admin-add-btn:hover {
    border: 2px solid var(--fill-button-hover-color);
    transform: scale(1.1);
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.edit-form {
    height: 82svh;
    border: 2px solid var(--button-border-color);
    border-radius: 12px;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 952px) {
    .admin-products h1 {
        margin-top: 12svh;
    }
    .admin-add-btn {
        display: none;
    }
}

@media (max-width: 765px) {
    .admin-product-card {
        height: 240px;
        width: 90%;
        flex-direction: row;
        align-items: flex-start;
    }

   
    .admin-product-card-info {
        width: 60%;
    }
}


@media (max-width: 580px) {
  

    .admin-product-card {
        height: 520px;
        width: 320px;
        flex-direction: column;
        align-items: center;
    }
    .admin-product-card-info {
        width: 100%;
    }
    .admin-products h1 {
        font-size: 26px;
    }
}

@media (max-height: 520px) {
    .search-bar input {
        margin-bottom: 0px;
    }
}