.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-tabs{
      display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}

.tab-btn {
    width: 60px;
    height: 20px;
    background-color: var(--input-color);
    color: var(--text-color);
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.tab-btn.active{
background: var(--accent-color);
}

.tab-btn:hover{
  background-color: var(--accent-color);
}

.shop-product {
  display: flex;
  flex-direction: column;
}

.shop h1 {
  color: var(--accent-color);
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 5svh;
  font-size: 30px;
  text-align: center;
}

.shop-product-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.price,
.rating {
  font-size: 16px;
  color: var(--text-color);
}

.rating {
  margin-bottom: 10px;
}

.shop-tip{
  top:5px;
  left:-23px;
}

.shop-product-card:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease;
}

.shop-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 0 15px;
  margin: 25px 0px;
  z-index: -1;
}

.fill-heart,
.line-heart {
  font-size: 30px;
}

.heart-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
  color: dimgrey;
}

.heart-btn:hover,
.heart-btn.active {
  color: red;
}

.site-button-primary {
  border: 1px solid var(--accent-color);
}

.site-button-primary:hover {
  background: var(--accent-color);
}

.select div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.select div label {
  font-size: 18px;
  background: var(--input-color);
}

.select div select {
  padding: 15px;
}

.pagination{
  margin-bottom: 0px;
}

@media (max-width: 952px) {
  .shop h1 {
    margin-top: 7svh;
  }
}

@media (max-width: 750px) {
  .shop-product-card {
    width: 80%;
    height: auto;
    flex-direction: row;
    align-items: flex-start;
  }

  .shop-product-info {
    width: 60%;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .shop-product-info h2,
  .shop-product-info p {
    text-align: center;
  }
}

@media (max-width: 671px) {
  
  .search-bar input {
    width: 80%;
  }

  .card-buttons {
    position: absolute;
    bottom: 15px;
    right: 55px;
    display: flex;
    gap: 10px;
  }
}

@media (max-height: 520px) {
  .shop h1{
    margin-bottom: 0px;
}
}