.shop h1 {
  color: var(--text-color);
  margin-bottom: 20px;
  margin-top: 5svh;
  font-size: 30px;
  text-align: center;
}

.filter {
  flex-wrap: wrap;
}

.product-img {
    width: 320px;
    object-fit: contain;
    background: #ffffff;
    height: 250px;
    border-radius: var(--button-border-radius);
}
.product-info h2 {
    color: var(--accent-color);
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    margin: 20px 10px;
}

.shop-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 0px 15px;
  margin-bottom: 30px;
}
.products div {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin: 0px 0px 20px;
}

.products div p {
  color: var(--alt-text-color);
}
.rating {
  margin-bottom: 10px;
}

.product-card {
    display: flex;
    height: 500px;
    width: 320px;
    flex-direction: column;
    border: 1px solid var(--button-border-color);
    align-items: center;
    position: relative;
    border-radius: 10px;
    background: var(--background-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.select div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.select div label {
  font-size: 18px;
}
.select div select {
  padding: 15px;
}

@media (max-width: 742px) {
  .product-card {
    position: relative;
    width: 80%;
    height: 280px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 15px;
  }
  .product-card img {
    width: 220px;
    height: 240px;
  }

  .product-info h2 {
    font-size: 14px;
  }
  .product-card-info h4 {
    font-size: 15px;
  }
  .card-buttons {
    right: 25px;
  }
}

@media (max-width: 671px) {
  .filter input,
  .filter select {
    width: 100px;
    font-size: 12px;
  }
  .search-bar input {
    width: 80%;
  }

  .products div {
    margin: 0px;
  }
}

@media (max-width: 631px) {
  .card-buttons {
    position: absolute;
    bottom: 15px;
    right: 55px;
    display: flex;
    gap: 10px;
  }
}

@media (max-width: 589px) {
  .products div {
    width: 100%;
  }
  .product-card {
    display: flex;
    height: 500px;
    width: 320px;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 10px;
    border-bottom: 1px solid black;
    border-radius: var(--button-border-radius);
    background: #fff;
    margin: 10px 0px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  .filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  .filter input,
  .filter select {
    padding: 15px;
    border-radius: 8px;
  }

  @media (max-width: 506px) {
    .filter {
      flex-wrap: wrap;
      padding: 0px 20px;
    }
  }
  @media screen and (max-width: 784px) and (orientation: landscape) {
    .product-img {
      width: 250px;
      height: 250px;
      object-fit: contain;
      border-radius: 10px;
    }

    .product-info {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }

    .product-info h2,
    .product-info p {
      text-align: center;
    }
  }
}
