.shop{
  background: var(--background-color);
}

.shop h1 {
    color: var(--accent-color);
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 5svh;
    font-size: 30px;
    text-align: center;
}

.shop-product-info{
  border-radius: 12px;
}

.shop-product-link{

  border-radius: 12px;
}
.filter {
  flex-wrap: wrap;
}

.product-img {
    width: 320px;
    height: 250px;
    object-fit: contain;
    background: #ffffff;
    border-radius: 12px;
}
.product-info h2 {
    color: var(--accent-color);
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    margin: 20px 10px;
}

.shop-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 0px 15px;
  margin-bottom: 30px;
}
.products div {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin: 0px 0px 20px;
}

.products div p {
  color: var(--alt-text-color);
}
.rating {
  margin-bottom: 10px;
}

.shop-product-card {
    display: flex;
    height: 500px;
    width: 320px;
    flex-direction: column;
    border: 1px solid var(--button-border-color);
    align-items: center;
    position: relative;
    border-radius: 12px;
    background: var(--alt-card-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.select div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.select div label {
  font-size: 18px;
}
.select div select {
  padding: 15px;
}

@media (max-width: 750px){
      .shop-product-card-img {
        width: 260px;
        height: 263px;
        object-fit: contain;
        border-radius: 12px;
        background: #ffffff;
      }
  .shop-product-info{
    border-radius: 12px;}
}


@media (max-width: 952px){
  .shop h1{
    margin-top:  7svh;
}
}
@media (max-width: 671px) {
  .filter input,
  .filter select {
    width: 100px;
    font-size: 12px;
  }
  .search-bar input {
    width: 80%;
  }

  .products div {
    margin: 0px;
  }
}

@media (max-width: 644px) {
  .product-img {
    width: 260px;

  }
  .card-buttons {
    position: absolute;
    bottom: 15px;
    right: 55px;
    display: flex;
    gap: 10px;
  }
}

@media (max-width: 589px) {
  .products div {
    width: 100%;
  }
  .shop-product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 10px;
    margin: 10px 0px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  .filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
}

@media (max-height: 520px){
  .shop-product-info{
    border-radius: 12px;
  }
}
  @media (max-width: 506px) {
    .filter {
      flex-wrap: wrap;
      padding: 0px 20px;
    }
  }
  
