.search-bar {
  position: relative;
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
}

.search-bar input {
  width: 80%;
  display: flex;
  margin: auto;
  padding: 8px 30px 8px 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--button-border-color);
  font-size: 1rem;
}

.search-bar input::placeholder {
  color: var(--placeholder-color)
}
.search-bar .clear-search {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 25px;
  color: var(--text-color);
  transition: color 0.2s;
}

.search-bar .clear-search:hover {
  color: var(--accent-color);
}
