header {
  height: 10svh;
  width: 100%;
  z-index: 10;
  opacity: 97%;
  backdrop-filter: blur(2px);
  background: var(--header-color);
  border-bottom: 1px solid var(--button-border-color);
  box-shadow: 3px 1px 7px 7px var(--background-color);
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  height: 10svh;
}

.nav-list {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.nav-list li a {
  color: var(--text-color);
  font-size: 16px;
  padding: 5px 10px;
  transition: color 0.2s ease;
}

.nav-list li a:hover {
  color: var(--accent-color);
  border-bottom: 1px solid rgb(199, 176, 176);
}

.nav-list li a.active {
  color: var(--accent-color);
  border-bottom: 1px solid #b4a2a2;
}

.auth-buttons {
  width: 300px;
  display: flex;
  justify-content: center;
}

.header-button {
  margin: 0px 5px;
}


@media (max-width: 1068px) {
  .nav-list li a {
    font-size: 14.5px;
  }
}

@media (max-width: 998px) {
  .nav-list li a {
    font-size: 14px;
  }
  .navbar {
    padding: 10px;
  }
}

@media (max-width: 952px) {
  header {
    position: fixed;
    top: 0;
    height: 9svh;
    border-bottom: none;
    background: var(--background-color);
  }
 
  .navbar {
    display: none;
  }
  .shop h1 {
    padding-top: 5svh;
  }
  .mobile-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .mobile-icons a {
    margin: 0px 10px;
  }
 
}
