.admin-animal-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.admin-animal-card {
    position: relative;
    height: 400px;
    width: 300px;
    background: var(--background-color);
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid var(--button-border-color);
    transition: transform 0.2s;
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    flex-direction: column;
}

.animal-card-title{
  color: var(--accent-color);
  margin-bottom: 20px;
}

.visual-content{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
}

.animal-card-img {
  margin-bottom: 10px;
}

.animal-card-img img{
width: 100%;
    border-radius: 18px;
    height: 230px;
}

.admin-animal-card-buttons {
    display: flex;
    gap: 12px;
    margin-top: 25px;
    justify-content: center;
}

.admin-animal-card-buttons button {
    width: 100px;
    height: 30px;
    display: flex;
    color: var(--text-color);
    gap:5px;
    cursor: pointer;
    background: var(--background-color);
    border: 1px solid var(--accent-color);
    border-radius: 16px;
    align-items: center;
    justify-content: center;
}


@media (max-height: 520px) {

  .admin-animal-card{
    width:40%;
    height: 360px;
  }
}