.password-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  position: relative;
  background: none;
  width: 100%;
  max-width: 250px;
}

.password-input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 200px;
  padding: 6px 8px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid var(--button-border-color);
  font-size: 14px;
  outline: none;
  background: var(--input-color);
  color: var(--text-color);
}

.password-input:hover {
  border-color: var(--accent-color);
}

.password-input::placeholder {
  color: rgb(192, 184, 184);
}
.toggle-password-icon {
  position: absolute;
  right: 15%;
  top: 52%;
  transform: translateY(-30%);
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.toggle-icon {
  color: rgb(6, 5, 5);
  filter: invert(0.7);
  width: 25px;
  height: 25px;
  opacity: 0.6;
  background: none;
  transition: opacity 1s ease-in-out;
  cursor: pointer;
}

.toggle-icon:hover {
  opacity: 1;
}
