

.admin-dogs {
  margin-top: 12svh;
}
.admin-products {
  position: relative;
}

.admin-dogs h1 {
  color: var(--accent-color);
  margin-top: 13svh;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.admin-dog-card-info {
    display: flex;
    font-size: 14px;
    flex-direction: column;
}
.admin-dog-card-info p {
color: var(--text-color);

}

.admin-dog-card-info h4 {
  color: var(--accent-color);
}

 .admin-dog-buttons {
    display: flex;
        position: absolute;
    bottom: 15px;
    right: 20px;
    gap: 10px;
    margin-top: 15px;
  }

.dog-alphabet-container {
  position: fixed;
  right: 18px;
  top: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.dog-pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 5;
  clear: both;

}

.pagination-wrapper{
  display: flex;
  flex-direction: column;
}

.admin-dog-card{
  position: relative;
  height: 350px;
  width: 320px;
  background:var(--background-color);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 1px solid var(--button-border-color);
  transition: transform 0.2s;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.admin-dog-card:hover {
  transform: translateY(-5px);
}

.admin-dog-card img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 10px;
}


.admin-product-card h2 {
  font-size: 1rem;
  margin-bottom: 8px;
  text-align: center;
}


.drop-zone {
  border-color: var(--button-border-color);
}

.drop-zone p {
  color: var(--text-color);
}

.preview-image img {
  border: 1px solid var(--button-border-color);
}

.card-buttons button {
  flex: 1;
}

.admin-add-btn {
  position: fixed;
  top: 11%;
  right: 7px;
  background: #fff;
  color: #8e44ad;
  font-size: 40px;
  border: 1px solid #8e44ad;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.admin-add-btn:hover {
  border: 2px solid var(--fill-button-hover-color);
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.add-type-container {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 350px;
  border: 1px solid var(--button-border-color);
  border-radius: 10px;
  background: var(--background-color);
  color: var(--text-color);
}

.admin-add-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dog-title-h1 {
  margin-top: 10svh;
}
.admin-add-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  height: 140px;
}

.add-type-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.admin-add-img {
  width: 100px;
  filter: invert(0.7);
}

.modal-inner {
border-radius: 14px;
}

.delete-modal-content {
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--background-color);
  border: 1px solid var(--button-border-color);
  border-radius: 12px;
  margin: auto;
  padding: 0px 10px;
}

.delete-modal-content h3 {
  font-size: 20px;
}

.delete-modal-content p {
  color: var(--text-color);
  text-align: center;
}

.modal-close {
  position: absolute;
  top: 2px;
  left: 12px;
}

.modal-overlay {
  z-index: 10;
}

.toggle-details-btn {
  background: none;
  border: none;
  color: var(--accent-color);
  cursor: pointer;
  margin-top: 5px;
  font-size: 0.9rem;
}

.dog-details-scroll {
    max-height: 72px;
    background: var(--background-color);
    overflow-y: auto;
    border-radius: 10px;
    scrollbar-width: none;
}


.dog-details-scroll::-webkit-scrollbar {
  width: 6px; 
}

.dog-details-scroll::-webkit-scrollbar-track {
  border-radius: 8px;
  background: #f1f1f1;
  border: 1px solid #e0e0e0;
}

.dog-details-scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--accent-color, #d55959); 
}


.dog-details-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color, #d55959) #f1f1f1;
}
.dog-details-scroll p {
  color: var(--text-color);
}

.admin-tabs {
      display: flex;
    gap: 25px;
    justify-content: center;
}
.admin-tab{
      background: var(--background-color);
      width: 120px;
    border: 1px solid #8f44ad;
    border-radius: 6px;
    cursor: pointer;
    color: var(--text-color);
    padding: var(--button-padding);
}

.admin-tab.active{
      background: var(--accent-color);
    border-radius: 6px;
    color: var(--text-color);
    padding: var(--button-padding);
}

.load-more-btn {
  color: var(--text-color);
  border:1px solid var(--accent-color);
  font-weight: 300;
  transition: transform 0.2s, background-color 0.2s;
}

.load-more-btn:hover {
  transform: scale(1.05);
  background: var(--fill-button-hover-color);
}

@media (max-width: 952px) {
  .admin-add-btn {
    display: none;
  }
}



@media (max-width: 760px) {
 
.admin-dog-card {height:300px;
  width: 250px;
}
}
@media (max-width: 615px) {
  .admin-dog-card {
    position: relative;
    height: 260px;
    width: 210px;
  }

  .admin-card-buttons button{
    width: 80px;
  }
}

@media (max-height: 600px){
  .dog-alphabet-container{
    top: 60px;
        right: 14px;
  }
}

@media (max-width: 560px){
  .dog-alphabet-container{
    right:6px;
  }

  .admin-dog-card{
    width:300px;
    height: 350px;
  }
  .admin-card-buttons button{
    width: 120px;
  }
  .search-bar input {
    margin-bottom: 0px;
  }
  .load-more-btn{
    font-size: 12px;
  }

  @media (max-width: 470px){
    .admin-products h1{
      font-size: 26px;
    }
  }
}

