.admin-dogs{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.admin-product-card h2 {
  font-size: 1rem;
  margin-bottom: 8px;
  text-align: center;
}


.admin-dogs {
  margin-top: 4svh;
}
.admin-products {
  position: relative;
}

.admin-dogs h1 {
  color: var(--accent-color);
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}



.admin-dog-card-buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 100%;
    position: absolute;
    bottom: 15px;
}

    .admin-dog-card-buttons button {
    width: 100px;
    display: flex;
    height: 30px;
    gap: 5px;
    color: var(--text-color);
    background: var(--background-color);
    border: 1px solid var(--accent-color);
    border-radius: 16px;
    align-items: center;
    justify-content: center;
}

    .admin-dog-card-buttons button:hover{
      background: var(--accent-color);
      cursor: pointer;
    }


.dog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px 40px;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    margin-bottom: 50px;
}

.dog-pagination-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 5;
  clear: both;

}

.pagination-wrapper{
  display: flex;
  flex-direction: column;
}


.admin-add-btn {
  position: fixed;
  top: 11%;
  right: 7px;
  background: #fff;
  color: #8e44ad;
  font-size: 40px;
  border: 1px solid #8e44ad;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.admin-add-btn:hover {
  border: 2px solid var(--fill-button-hover-color);
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.add-type-container {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 350px;
  border: 1px solid var(--button-border-color);
  border-radius: 10px;
  background: var(--background-color);
  color: var(--text-color);
}

.admin-add-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dog-title-h1 {
  margin-top: 10svh;
}
.admin-add-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  height: 140px;
}

.add-type-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.admin-add-img {
  width: 100px;
  filter: invert(0.7);
}

.modal-inner {
border-radius: 14px;
}

.delete-modal-content {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--background-color);
    border: 1px solid var(--button-border-color);
    border-radius: 12px;
    margin: auto;
    padding: 0px 10px;
}

.delete-modal-content h3 {
  font-size: 20px;
  color: var(--accent-color);
}

.delete-modal-content p {
  color: var(--text-color);
  text-align: center;
}

.modal-overlay {
  z-index: 10;
}

.toggle-details-btn {
  background: none;
  border: none;
  color: var(--accent-color);
  cursor: pointer;
  margin-top: 5px;
  font-size: 0.9rem;
}

.dog-details-scroll {
    max-height: 72px;
    background: var(--background-color);
    overflow-y: auto;
    border-radius: 10px;
    scrollbar-width: none;
}


.dog-details-scroll::-webkit-scrollbar {
  width: 6px; 
}

.dog-details-scroll::-webkit-scrollbar-track {
  border-radius: 8px;
  background: #f1f1f1;
  border: 1px solid #e0e0e0;
}

.dog-details-scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--accent-color, #d55959); 
}


.dog-details-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color, #d55959) #f1f1f1;
}
.dog-details-scroll p {
  color: var(--text-color);
}

.no-dogs{
  color: var(--text-color);
}

.error{
  color: var(--text-color);
}

@media (max-width: 952px) {
  .admin-add-btn {
    display: none;
  }
  .admin-dogs {
    margin-top: 11svh;
  }
}


@media (max-width: 750px) {
 
.admin-dog-card{
  width:290px;
  height:310px;
}
.admin-dog-card-buttons button{
  width:90px;
}
}
@media (max-width: 700px) {
  
.admin-dog-card{
  width:245px;
  height:310px;
}
  .admin-card-buttons button{
    width: 70px;
  }
}

@media (max-width: 664x){
  .admin-dog-card{
  width:250px;
  height:290px;
}
}

 @media (max-width: 620px){
    .admin-dog-card {
        height: 280px;
        width: 225px;
    }

.admin-dog-card {
    position: relative;
    height: 330px;
    width: 300px;
    background: var(--background-color);
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--button-border-color);
    transition: transform 0.2s;
    margin-bottom: 15px;
}
 }
  

  @media (max-width: 470px){
    .admin-products h1{
      font-size: 26px;
    }
  }

