.controls-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.page-top-content {
  display: flex;
  justify-content: center;
}

.admin-dog-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
}

@media (max-width: 740px) {
  .dog-card-img {
    height: 180px;
    margin-bottom: 0px;
  }
}

@media (max-width: 561px) {
  .admin-dog-card {
    height: 350px;
    width: 85%;
    margin-bottom: 15px;
    border-radius: 20px;
    border: 1px solid var(--button-border-color);
    background: var(--background-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}