.footer-container {
  display: none;
}

@media (max-width: 952px) {
  .footer-container {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 55px;
    width: 100%;
    border-top: 1px solid var(--button-color);
    z-index: 10;
    background-color: var(--background-color);
  }

  .footer-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    color: var(--text-color);
    transition: color 0.2s ease;
  }

  .spinner {
    position: absolute;
    top: 35%;
    left: 45%;
    transform: translateX(45%);
  }
  .modal-content p {
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .mobile-icon {
    color: var(--text-color);
  }
  .mobile-icon:hover {
    color: var(--accent-color);
    transform: scale(1.05);
  }
  .mobile-icon.active {
    color: var(--accent-color);
    transform: scale(1.05);
  }

  .footer-add-btn {
    background: #fff;
    color: #8e44ad;
    font-size: 40px;
    border: 1px solid #8e44ad;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .footer-add-btn:hover {
    border: 2px solid var(--fill-button-hover-color);
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
  .spinner {
    position: absolute;
    top: 34%;
    left: 47.5%;
    transform: translateX(47.5%);
  }
}
