.toggle {
  position: absolute;
  top: -2px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 0 0 4px var(--fill-background-color);
  opacity: 90%;
  z-index: 11;
}

.toggle.active {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0 0 5px var(--text-color);
}

.icon {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 28px;
  background: none;
}

.toggle.active .icon {
  color: var(--text-color);
}


.switch {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 11svh;
  left: 15px;
  background: transparent;
  cursor: pointer;
  z-index: 10;
}
@media (max-width: 952px) {

  .switch {
    top:2svh
  }
  
}
@media screen and (max-width: 952px) and (orientation: landscape) {
  .toggle.active {
    top: 2px
  }
}