.toggle {
  position: absolute;
  top: -2px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 0 0 4px var(--fill-button-color);
  opacity: 90%;
  z-index: 11;
}

.toggle.active {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0 0 5px var(--text-color);
}

.icon {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 28px;
  
}

.toggle.active .icon {
  color: var(--text-color);
}

body.light-theme {
  --text-color: rgb(12, 11, 11);
  --header-color: rgba(255, 255, 255, 0.95);
  --accent-color: #8e44ad;
  --input-color: #ffffff;
  --input-border-color: #cfc1c1;
  --button-color: #ffffff;
  --button-border-color: #827777;
  --button-hover-border-color: #8e44ad;
  --button-border-radius: 6px;
  --button-padding: 8px 12px;
  --fill-button-color: #8e44ad;
  --fill-button-text: #ffffff;
  --fill-button-hover-color: #793a94;
  --alt-card-color: #e3dee4;
  --box-shadow: #c7c3ca;
  --popup-color: #ffffff;
  --icon-color: #ffffff;
  background: var(--background-color) 
  
}

body.dark-theme {
  --background-color: #18171a;
  --text-color: #f0f0f0;
  --alt-text-color: #18171a;
  --header-color: #2a2a2a;
  --accent-color: #8e44ad;
  --input-color: #2b2b2b
  --input-border-color: #555;
  --button-color: #2b2b2b;
  --button-border-color: #555;
  --button-hover-border-color: #8e44ad;
  --fill-button-color: #8e44ad;
  --fill-button-text: #fff;
  --fill-button-hover-color: #793a94;
  --alt-card-color: #2a2a2a;
  --popup-color: #f2ebeb;
  --box-shadow: #d1cfd3;
  --icon-color: #2b2b2b;
  background: var(--background-color);
}

.switch {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 11svh;
  left: 15px;
  background: transparent;
  cursor: pointer;
  z-index: 10;
}
@media (max-width: 952px) {

  .switch {
    top:2svh
  }
  
}
@media screen and (max-width: 952px) and (orientation: landscape) {
  .toggle.active {
    top: 2px
  }
}