.cardDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
}

.top-dogs h1,
.questionnaire h1 {
  color: var(--text-color);
  font-size: 26px;
  margin-top: 3svh;
  padding: 20px;
  text-align: center;
}
.questionnaire h2 {
  color: var(--text-color);
  text-align: center;
  font-size: 22px;
}

.suitable-dog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    cursor: pointer;
    justify-content: flex-start;
    width: 300px;
    height: 320px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px var(--box-shadow);
    border-bottom: 1.5px solid rgb(6, 5, 5);
}

.suitable-dog-card h3{
  color: var(--accent-color);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0px;
  
}

.suitable-dog-card p {
  text-align: center;
  font-size: 14px;
}

.suitable-dog-img {
  width: 100%;
  height: 229px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 12px;
}


.resultsText {
  color: var(--text-color);
  text-align: center;
  margin-top: 10px;
  padding: 0px 20px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

    .suitable-dog-popup-content {
        background: var(--background-color);
        padding:15px;
        border-radius: 12px;
        position: relative;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
        text-align: center;
        animation: popupFadeIn 0.3s forwards;
        display: flex;
        flex-direction: column;
        width: 70svw;
        margin-top: 0px;
        border: 1px solid var(--button-border-color);
        height: 90svh;
        position: relative;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
        transform: scale(0.8);
        opacity: 0;
        animation: popupFadeIn 0.3s forwards;
    }

.suitable-dog-popup-content h2 {
  color: var(--accent-color);
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.suitable-dog-popup-content p {
  color: var(--alt-text-color);
  gap: 10px;
  padding: 10px;
}

.dogImgLarge {
  width: 50%;
  height: 250px;
  object-fit: cover;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.42);
  border-bottom: 2px solid rgb(6, 5, 5);
}

.modal-close {
  position: absolute;
  top: 2px;
  left: 12px;
  font-size: 40px;
  cursor: pointer;
  color: var(--text-color);
  background: none;
  border: none;
}

.modal-close:hover {
  transform: scale(1.2);
  color: var(--accent-color);
}

@keyframes popupFadeIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.dogName {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  background-color: #f5f5f5;
}
.cardDiv > div:hover {
  transform: scale(1.05);
}
.questionnaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.questionnaire p {
  color: var(--text-color);
  text-align: center;
}
.questionnaire > div {
  display: flex;
  justify-content: center;
}

.options {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.optionInput {
    width: 280px;
    height: 38px;
    border-radius: 8px;
    padding: var(--button-padding);
    border: 0.5px solid var(--input-border-color);
    cursor: pointer;
}
.optionInput:hover {
  border: 1.5px solid #8e44ad;
}

.questionnaire-back-btn {
  margin-top: 20px;
}

.repeat {
  text-align: center;
}

.repeat-button {
    border: 1px solid var(--accent-color);
    width: 120px;
    color: var(--text-color);
    margin-top: 20px;
    background: none;
    margin-bottom: 40px;
}

@media (max-width: 952px){

.top-dogs h1{ 
  margin-top: 10svh;
}
}

@media (max-width: 750px){
.suitable-dog-card{
  width: 240px;
}

}

@media (max-width: 635px){
.suitable-dog-card{
  width: 220px;
}
.suitable-dog-card h3{
  font-size: 20px;
}

}

@media (max-width: 570px) {

  .suitable-dog-card {
        width: 320px;
        justify-content: flex-start;
        height: 320px;
        border-radius: 12px;
  }

  .suitable-dog-popup-content{
    width:320px;
    height: 80svh;
  }
  
  .suitable-dog-popup-content p {
    padding: 0px;
    margin-bottom: 10px;
  }
.dogImgLarge{
  width:70%
}
}

@media (max-height: 520px) {

.suitable-dog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    cursor: pointer;
    justify-content: flex-start;
    width: 240px;
    height: 310px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px var(--box-shadow);
    border-bottom: 1.5px solid rgb(6, 5, 5);
}

  .suitable-dog-img {
    height:180px;
  }
.options {
  gap: 10px;
}

.questionnaire{
  gap:10px;
}
.questionnaire h1 {
  font-size: 24px;
  padding: 0px;
  margin-top: 12svh;
}
.questionnaire h2 {
  font-size: 18px;
  font-weight: 400;
}

.questionnaire-back-btn{
  margin-top: 10px;
}

.popup-wrapper {
  height: 270px;
  display: flex;
    align-items: center;
}

.optionInput{
  height:26px
}


.suitable-dog-popup-content h2 {
  margin-bottom: 0px;
}

.hamburger-menu{
  height:190px;
  overflow-y: hidden;
}

}

