.cardDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  margin: 20px 0 25px;
}

.cardDiv > div:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.questionnaire{
  display: flex;
    flex-direction: column;
    align-items: center;
}

.questionnaire h1, .top-dogs h1 {
  color: var(--accent-color);
  font-size: 28px;
  margin-top: 10svh;
  padding: 20px;
  text-align: center;
}

.questionnaire h2 {
  color: var(--text-color);
  text-align: center;
  font-size: 22px;
}

.questionnaire p {
  color: var(--text-color);
  text-align: center;
  font-size: 18px;
  margin: 10px 0 20px;
}

.options{
display: flex;
gap: 15px;
    flex-direction: column;
    margin-bottom: 20px;
}

.questionnaire button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--accent-color);
    display: flex;
    border-radius: 10px;
   width: 320px;
    padding: 10px 0px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center;
}

.questionnaire button:hover {
  background-color: var(--accent-color);
}

.repeat {
    display: flex;
    margin-bottom: 60px;
    justify-content: center;
}

@media (max-height: 520px) {
  .questionnaire p {
    color: var(--text-color);
    text-align: center;
    font-size: 18px;
    margin: 10px 0px;
}

.questionnaire button {
  padding: 5px 0px;
  
}
}